<div class="minstrel-window-root blacksmith-window-template-root" id="{{appId}}">
    {{#if showOptionBar}}
    <div class="blacksmith-window-template-option-bar">
        <div class="blacksmith-window-template-option-bar-left">
            {{{optionBarLeft}}}
        </div>
        <div class="blacksmith-window-template-option-bar-right">
            {{{optionBarRight}}}
        </div>
    </div>
    {{/if}}

    {{#if showHeader}}
    <header class="blacksmith-window-template-header">
        <div class="blacksmith-window-template-header-content">
            <div class="blacksmith-window-template-header-icon">
                <i class="{{headerIcon}}"></i>
            </div>
            <div class="blacksmith-window-template-header-title-block">
                <div class="blacksmith-window-template-header-title">{{windowTitle}}</div>
                <div class="blacksmith-window-template-header-subtitle">{{subtitle}}</div>
            </div>
        </div>
    </header>
    {{/if}}

    {{#if showTools}}
    <div class="blacksmith-window-template-tools">
        {{{toolsContent}}}
    </div>
    {{/if}}

    <div class="blacksmith-window-template-body">
        {{{bodyContent}}}
    </div>

    {{#if showActionBar}}
    <section class="blacksmith-window-template-buttons">
        <div class="blacksmith-window-template-action-bar">
            <div class="blacksmith-window-template-action-left">
                {{{actionBarLeft}}}
            </div>
            <div class="blacksmith-window-template-action-right">
                {{{actionBarRight}}}
            </div>
        </div>
    </section>
    {{/if}}
</div>
